<nav id="sidebarMenu" class="collapse d-lg-block sidebar mt-3 collapse bg-white shadow">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <!-- <a  routerLinkActive="active btn shadow" routerLink="/" class="btn list-group-item list-group-item-action py-3 ripple " aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a> -->
        <a   routerLinkActive="active btn shadow" routerLink="/Competitions" class="btn list-group-item list-group-item-action py-3 ripple ">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Competitions</span>
        </a>
        <a   routerLinkActive="active btn shadow" routerLink="/Members" class="btn list-group-item list-group-item-action py-3 ripple ">
          <i class="fa-solid fa-user me-4"></i><span>Members</span>
        </a>
        <a routerLinkActive="active btn" routerLink="/Fishs" class="btn list-group-item list-group-item-action py-3 ripple ">
          <i class="fa-solid fa-fish me-4"></i><span>Fishs</span>
        </a>
        <a routerLinkActive="active btn" routerLink="/Levels" class="btn list-group-item list-group-item-action py-3 ripple ">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Levels</span>
        </a>
        <a routerLinkActive="active btn" routerLink="/Ranking" class="btn list-group-item list-group-item-action py-3 ripple ">
          <i class="fa-solid fa-ranking-star me-4"></i><span>Rinking</span>
        </a>
      </div>
    </div>
  </nav>
  