<div class="" style="width: 700px;">
    @if(errorMessages){
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong> {{errorMessages}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        }
    <form class="text-center border border-light p-5" (ngSubmit)="onSubmit()">
        <p class="h4 mb-4">Add Competition</p>
        <p>Join our mailing list. We write rarely, but only the best content.</p>
        <div class="row">
                <label for="fishName">Fish Name :</label>
                <input type="text" id="fishName" class="form-control mb-4" name="name" [(ngModel)]="formData.name" placeholder="fishName">
                <label for="averageWeight">averageWeight :</label>
                <input type="number" id="averageWeight" class="form-control mb-4" name="averageWeight" [(ngModel)]="formData.averageWeight" placeholder="averageWeight">
                <label for="levelCode">levelCode :</label>
                <input type="number" id="levelCode" class="form-control mb-4" name="levelCode" [(ngModel)]="formData.levelCode" placeholder="levelCode">
        </div>
        <button class="btn btn-primary btn-block text-white px-5" type="submit">Add</button>
    </form>
</div>