<div class="d-flex justify-content-end py-4">
    <a  class="btn btn-primary" (click)="addFish()">Add New Fish</a>
</div>
@if(errorMessages){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{errorMessages}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
@if(successMessages){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successful! </strong> {{successMessages}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
  <div class="row">
      @for (item of fishs; track $index) {
        <div class="col-3 mt-4 ">
            <div class="card" style="width: 14rem;">
                <img src="../../../../assets/AFTAS.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title"><strong>{{item.name}}</strong></h2>
                    <p class="card-text"><strong>Average Weight: </strong>{{item.averageWeight}}</p>
                    <p class="card-text"><strong>Level : </strong>{{item.level.code}}</p>
                    <p class="card-text"><strong>Points :</strong> {{item.level.points}}</p>
                </div>
            </div>
        </div>
        
      }
  </div>